/* Estilos generales */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    background-color: #1b4821;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    width: 100%;
}

#logo:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

#logo {
    width: 100%;
    max-width: 200px; 
    height: auto;
}

h1 {
    color: #ffffff;
    padding-bottom: 20px;
}

nav {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: #f1f1f1;
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav li {
    margin: 5px;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    border-radius: 4px;
    transition: text-shadow 0.7s, font-size 0.6s; 
}

nav li a:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    font-size: 20px; 
    color: #1b4821;
}

nav ul li a.selected {
    color: #1b4821;
    font-weight: bold;
}

article {
    background-color: violet;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.imatge-responsiva {
    max-width: 100%;
    height: auto;
}

#contenidorSlogan {
    position: relative;
    text-align: center;
    font-size: 4vw;
    width: 100%;
    height: auto;
    background-color: black;
    opacity: 0.9;
    color: white;
    padding: 0px 0px;
}

#contenidorSlogan img {
    background-size: cover; 
    background-position: center;
    width: 100%; 
    height: auto;
    background-color: black;
    opacity: 0.5;
}

#slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contingutPrincipal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.info {
    flex: 1 1 100%; 
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}

.imatgeDreta {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.imatgeDreta img {
    max-width: 70%; 
    height: auto; 
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease;
    margin: 0 auto; 
}

.imatgeDreta img:hover {
    transform: scale(1.02); 
}

#reconeixament {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

#reconeixament p {
    text-align: center;
    font-size: 20px;
}

#reconeixament video {
    max-width: 50%; 
    max-height: 80vh; 
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease;
}

.contenedor-miembros {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.miembro {
    text-align: center;
    margin: 0 10px;
    flex: 1 1 200px;
}

.miembro img {
    width: 100%;
    max-width: 200px; 
    height: auto;
}

.miembro img:hover {
    cursor: pointer;
}

.nombre-miembro {
    margin-top: 10px;
}

/* Estilo para el texto generado por JS */
#descripcion-miembro {
    text-align: center;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

#descripcion-miembro p {
    text-align: justify;
}

#mapa{
    width: 100%;
    height: 100%;
}

#mapa iframe {
    width: 100%; 
    height: 600px; 
}

#bodymapa h2 {
    text-align: center;
    padding: 30px;
}

footer {
    background-color: #1b4821; 
    color: white; 
    padding: 20px; 
    text-align: center;
    width: 100%;
}

.redes-sociales a {
    color: white; 
    margin: 0 10px;
    text-decoration: none; 
}

.redes-sociales a:hover {
    text-decoration: underline; 
}

.volver-arriba a {
    color: white; 
    text-decoration: none; 
}

.volver-arriba a:hover {
    text-decoration: underline; 
}

.redes-sociales img, .colaboradores img {
    width: 30px; 
    height: 30px;
}

.volver-arriba img {
    width: 30px; 
    height: 30px; 
}

/* Proyecto */
.section {
    padding: 50px 0;
    width: 100%;
    background-color: white;
}

.container, .containerTab {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: justify;
}

.container li, .containerTab li {
    text-align: justify;
}

.container img, .containerTab img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.combi {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
}

.combi img {
    max-width: 50%; 
    height: auto;
    flex-basis: 50%;
}

.colorVerds {
    color: #1b4821;
    font-weight: bold;
}

.containerTab table {
    border-collapse: collapse;
    margin: auto;
    border: 2px solid #333; /* Color de los bordes de la tabla */
}

.containerTab th, td {
    border: 1px solid #333; /* Color de los bordes internos */
    padding: 8px;
    text-align: center;
}

.containerTab th {
    background-color: gray; /* Color de fondo de las celdas de encabezado */
}

.containerTab td {
    background-color: #ddd;
}

.container table, .containerTab table {
    margin: auto;
}

.container table, .container table th, .container table td, .containerTab table th, .containerTab table td {
    border: none;
}

.container td, .containerTab td {
    padding: 8px;
}

/* Estilos CSS adicionales */
.containerTab {
    overflow-x: auto;
}

.containerTab table {
    width: 100%;
    border-collapse: collapse;
}

.containerTab th, .containerTab td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

.containerTab th {
    background-color: gray;
}

.containerTab td {
    background-color: #ddd;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
    .containerTab p h2 {
        font-size: 24px; /* Ajusta el tamaño del título para dispositivos móviles */
    }
}


/* Media queries para asegurar responsividad */
@media (min-width: 768px) {
    #contenidorSlogan {
        font-size: 3vw;
    }

    .contingutPrincipal {
        flex-wrap: nowrap;
    }

    .info, .imatgeDreta {
        flex: 1;
    }
    .containerTab th td{
        font-size: 12px; /* Ajusta el tamaño del título para dispositivos móviles */
    }
}

@media (max-width: 767px) {
    .container, .containerTab {
        width: 95%;
    }

    #contenidorSlogan {
        font-size: 5vw;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        width: 100%;
    }
    .containerTab td th{
        font-size: 18px; /* Ajusta el tamaño del título para dispositivos móviles */
    }
}
